@import 'legacy-css.less';
@import 'vars.less';
@import 'header.less';
@import 'forms.less';
@import 'trust-project.less';

iframe {
  max-width: 100% !important;
}

#home-secondary .span4:nth-of-type(3) {
  .largo-recent-posts h5 {
    font-weight: normal;
    font-family: @sans;
  }
}
