/**
 * variables in this file are extracted from legacy-css.less, but are not used there
 * @since February 2017
 */


// colors
@grey: #949599;
@gray: @grey;
@blue: #3190ca;
@selected: #d32a20;
@black: #202020;

// fonts
@sans: 'ff-dagny-web-pro', Helvetica, Arial, sans-serif;
